* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
    transition: background-color 0.4s ease, color 0.4s ease;
}

/* Variaveis */

:root {
  --main-color: #97312d;
  --main-text-color: #FFF;
  --border-color: #999;
  --bio-bg-color: #1E2A3A;
  --bio-border-color: #293544;
  --about-bg-color: #111821;
  --link-color: #07659f;

}
:root.light-theme {
  --main-color: #0077cc;
  --main-text-color: #111;
  --border-color: #ccc;
  --bio-bg-color: #f1f1f1;
  --bio-border-color: #ccc;
  --about-bg-color: #ffffff;
  --link-color: #005599;
}


/* Geral */

.highlight{
  color: var(--main-color);
}

/* Containers */

#container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  color: var(--main-text-color);
}

#bio-container{
  flex: 0 0 280px; /* largura fixa */
  min-height: 100vh;
  background-color: var(--bio-bg-color);
  text-align: center;
  padding: 30px 12px;
  border-right: 5px solid var(--bio-border-color);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

#bio-container:hover {
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.3);
}

#about-container{
  flex: 1;
  min-height: 100vh;
  overflow-y: auto;
  overflow-y: auto; /* IMPORTANTE: Permite rolagem vertical quando o conteúdo transborda */
  -webkit-overflow-scrolling: touch; /* Melhora o desempenho da rolagem em iOS */
  background-color: var(--about-bg-color);
  padding: 40px;
  overflow-x: hidden; /* Evita rolagem horizontal */

}

/* Bio Container */

#bio-container h2{
  margin-bottom: 25px;
}

#bio-container p{
  margin-bottom: 20px;
}

#bio-container #welcome-text{
  font-weight: bold;
}

#bio-img{
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-bottom: 25px;
  object-fit: cover;
  object-position: center top;
}

#social-container{
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: 1px solid  var(--border-color);
  margin-bottom: 25px;
  padding-bottom: 25px;
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 0.1);
}

.iconHover:hover{
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.iconHover:active{
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: width 0.3s ease-out, height 0.3s ease-out, opacity 0.3s ease-out;
}

.icon:active::after {
  width: 100px;
  height: 100px;
  opacity: 1;
}

#social-container li{
  flex: 1 1 0;
  max-width: 60px;
}

#social-container li a{
  color: var(--main-color);
  font-size: 40px;
}


#email-container{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#email-container a:hover{
  color: var(--link-color);
  transition: all 0.3s ease;
}

#email-container ion-icon,
#email-container a{
  display: inline-flex;
  align-items: center;
}

#email-container a{
  color: var(--main-text-color);
  text-decoration: none;
  max-width: none;
}

#email-container ion-icon{
  color: var(--main-color);
  font-size: 20px;
  margin-right: 5px;
  max-width: none;
}

/* About  Container */

#name{
  font-size: 42px;
  margin-bottom: 15px;
}

#title{
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

#link-eterj{
  color: var(--link-color);
  text-decoration: none;
}

.description{
  max-width: 75%;
  margin-bottom: 10px;
}

/* Buttons */

/* From Uiverse.io by RiccardoRapelli */ 

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch #input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 0;
  overflow: hidden;
}

.sun-moon {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: yellow;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#theme-toggle:checked + .slider {
  background-color: black;
}

#theme-toggle:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

#theme-toggle:checked + .slider .sun-moon {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

.moon-dot {
  opacity: 0;
  transition: 0.4s;
  fill: gray;
}

#theme-toggle:checked + .slider .sun-moon .moon-dot {
  opacity: 1;
}

.slider.round {
  border-radius: 34px;
}

.slider.round .sun-moon {
  border-radius: 50%;
}

#moon-dot-1 {
  left: 10px;
  top: 3px;
  position: absolute;
  width: 6px;
  height: 6px;
  z-index: 4;
}

#moon-dot-2 {
  left: 2px;
  top: 10px;
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 4;
}

#moon-dot-3 {
  left: 16px;
  top: 18px;
  position: absolute;
  width: 3px;
  height: 3px;
  z-index: 4;
}

#light-ray-1 {
  left: -8px;
  top: -8px;
  position: absolute;
  width: 43px;
  height: 43px;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

#light-ray-2 {
  left: -50%;
  top: -50%;
  position: absolute;
  width: 55px;
  height: 55px;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

#light-ray-3 {
  left: -18px;
  top: -18px;
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

.cloud-light {
  position: absolute;
  fill: #eee;
  animation-name: cloud-move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.cloud-dark {
  position: absolute;
  fill: #ccc;
  animation-name: cloud-move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

#cloud-1 {
  left: 30px;
  top: 15px;
  width: 40px;
}

#cloud-2 {
  left: 44px;
  top: 10px;
  width: 20px;
}

#cloud-3 {
  left: 18px;
  top: 24px;
  width: 30px;
}

#cloud-4 {
  left: 36px;
  top: 18px;
  width: 40px;
}

#cloud-5 {
  left: 48px;
  top: 14px;
  width: 20px;
}

#cloud-6 {
  left: 22px;
  top: 26px;
  width: 30px;
}

@keyframes cloud-move {
  0% {
    transform: translateX(0px);
  }

  40% {
    transform: translateX(4px);
  }

  80% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0px);
  }
}

.stars {
  transform: translateY(-32px);
  opacity: 0;
  transition: 0.4s;
}

.star {
  fill: white;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  animation-name: star-twinkle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#theme-toggle:checked + .slider .stars {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

#star-1 {
  width: 20px;
  top: 2px;
  left: 3px;
  animation-delay: 0.3s;
}

#star-2 {
  width: 6px;
  top: 16px;
  left: 3px;
}

#star-3 {
  width: 12px;
  top: 20px;
  left: 10px;
  animation-delay: 0.6s;
}

#star-4 {
  width: 18px;
  top: 0px;
  left: 18px;
  animation-delay: 1.3s;
}

@keyframes star-twinkle {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.btn-container {
  display: flex; 
  gap: 15px; 
  justify-content: left; 
  margin-bottom: 20px;
}

.btn-projects {
  font-weight: bold;
  font-size: 16px;
  color: var(--main-text-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  text-decoration: none;
  transition: .5s;
  padding: 12px 10px;
  width: 150px;
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 8px;
  transition: .5s;
}

.btn-projects:hover{
  background-color: transparent;
}

.btn-projects ion-icon,
.btn-projects span{
  flex: 1 1 0;
}

.btn-projects ion-icon {
  font-size: 20px;
  max-width: 20px;
}


#btn-projects:hover{
  background-color: transparent;
}

/* skills section */

#skills-section-title{
  border-top: 1px solid var(--border-color);
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
}

#skills-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}


.skills-box{
  flex: 1 1 33%;
  max-width: 33%;
  margin-bottom: 35px;
}

.skills-title{
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
  padding-left: 10px;
  border-left: 5px solid var(--main-color);
}

.skills-box i{
  font-size: 65px;
  margin-right: 10px;
  max-width: 100%;
  box-sizing: border-box;
}

/* medias */

@media(min-width: 768px) {
  #bio-container {
   position: sticky;
   top: 0;
   align-self: flex-start;
   height: fit-content;
  }
}


@media(max-width: 450px){

  #container{
   flex-direction: column;
  }

  #bio-container{
    position: relative;
    min-height: auto;
    border-right: none;
    border-bottom: 5px solid var(--bio-border-color);
  }

  #bio-container h2{
    display: none;
  }

  #bio-container p{
    max-width: 60%;
    margin: 10px auto;
  }

  #about-container{
    text-align: center;
    padding: 30px;
  }

  #about-container .description{
    margin: 10px auto;
    max-width: 100%;
    line-height: 26px;
  }

  .btn-projects {
    margin: 20px auto;
  }

  .skills-box{
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }

  .skills-box i{
    font-size: 60px;
  }

}